.span-1 {
  width: 68px;
}

.span-2 {
  width: 147px;
}

.span-3 {
  width: 227px;
}

.span-4 {
  width: 306px;
}

.span-5 {
  width: 385px;
}

.span-6 {
  width: 465px;
}

.span-7 {
  width: 544px;
}

.span-8 {
  width: 624px;
}

.span-9 {
  width: 703px;
}

.span-10 {
  width: 783px;
}

.span-11 {
  width: 862px;
}

.span-12 {
  width: 942px;
}

.span-13 {
  width: 1021px;
}

.span-14 {
  width: 1101px;
}

.span-15 {
  width: 1180px;
}

.offset-1 {
  margin-left: 79px;
}

.offset-2 {
  margin-left: 159px;
}

.offset-3 {
  margin-left: 238px;
}

.offset-4 {
  margin-left: 318px;
}

.offset-5 {
  margin-left: 397px;
}

.offset-6 {
  margin-left: 477px;
}

.offset-7 {
  margin-left: 556px;
}

.offset-8 {
  margin-left: 636px;
}

.offset-9 {
  margin-left: 715px;
}

.offset-10 {
  margin-left: 795px;
}

.offset-11 {
  margin-left: 874px;
}

.offset-12 {
  margin-left: 953px;
}

.offset-13 {
  margin-left: 1033px;
}

.offset-14 {
  margin-left: 1112px;
}

